<div class="w-screen h-full bg-dark p-5">
    <div  class="text-white text-headers font-bold text-center text-3xl sm:text-9xl mt-5">
      Payment Failed.
    </div>
 

    <div class="mx-auto mt-10 p-10 md:min-h-100 md:w-140 rounded-lg bg-white">
        <div class="mx-auto text-center">
            
             <img class="w-40 h-40 mx-auto" src="../../../../../assets/images/activities/failed.svg">
            
        </div>
        <div class="text-center text-headers  md:text-2xl text-md mt-5 font-semibold">
            Booking failed . 
        </div>
        <div class="text-center md:text-md text-sm mt-5 font-semibold">
         Something went wrong. We couldn't create your booking at this time due to payment failure.
        </div>
      
        <div class="text-center md:text-md text-sm mt-4">
            <button  mat-button >

                <a href="/home" class="text-dark underline">Go to home </a>
                            
            </button>
        </div>
    </div>
   
    


   </div>