<div class="w-full h-full bg-dark p-5">
 <div  class="text-white text-headers font-bold text-center text-3xl sm:text-9xl mt-5">
    Select an activity
 </div>
 <div class="sm:text-xl text-sm  text-center text-white">
    Please pick an activity below to book .
 </div>

 <div class="mt-5 sm:mt-15 mx-10">
    <div class="grid grid-cols-2 gap-6 sm:mx-10 md:mx-60">
        <div *ngFor="let activity of activities" class="shadow col-span-2 sm:col-span-1 md:col-span-1 lg:col-span-1">
            <div class="hover:scale-90 transition-all delay-350 rounded-2xl bg-white min-h-100">
                <img [src]="activity?.imgUrl" class="h-60 rounded-t-2xl cover-image">

                <div class="-mt-40 text-md sm:text-lg md:text-lg text-headers bg-purple-900 z-60 rounded-md  text-center text-white font-semibold">
                    <span class="p-2 px-3 bg-dark rounded-full">
                        {{activity?.title}}
                    </span>

                </div>
                <div class="mt-40 grid grid-cols-6 mx-5">
                    <div *ngFor="let item of activity?.dates" class="group col-span-1">
                        <span class=" badge bg-dark rounded-full p-1 px-2 text-white w-auto text-sm">
                           <span > {{item}}</span>
                           <!-- <span class="hidden group-hover:block text-xs" > 10am - 5pm</span> -->
                        </span>
                    </div>
                </div>
                <div class="h-15 mt-5 mx-5 text-gray-700">
                    {{activity?.description}}
                </div>
                <div class="mx-5 text-xs text-indigo-900 -mb-2 mt-5">Price does not include transportation.</div>
                <div class="mx-5  flex flex-inline text-dark">
                    <div class="font-bold text-xl sm:text-2xl mt-3">
                        ZAR
                    </div>
                    <div class="font-semibold text-5xl sm:text-7xl">
                        {{activity?.price}}
                    </div>
                    <div class="font-normal text-md sm:text-lg mt-10">
                        / person
                    </div>
                </div>
                <div class=" mx-5  mb-10 justify-items-center justify-center items-center">
                    <div >
                        <button (click)="openBooking(activity)" class="ml-2 mt-5 mb-5  mat-flat-button bg-purple-900  text-headers text-white rounded-full md:px-10">
                            Book this activity
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
 </div>
</div>
