/* hide default scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

img {
    transition: transform 0.3s;
}
img:hover {
    transform: scale(1.05);
}
